
/* Colores principales */
:root {
    --color-primario: #007bff; /* Azul principal */
    --color-secundario: #6c757d; /* Gris secundario */
    --color-terciario: #28a745; /* Verde terciario */
}

/* Colores de fondo */
:root {
    --color-fondo: #ccc; /* Gris claro para fondo */
    --color-fondo-oscuro: #343a40; /* Gris oscuro para fondo */
}

/* Colores de texto */
:root {
    --color-texto: #212529; /* Negro para texto principal */
    --color-texto-secundario: #6c757d; /* Gris para texto secundario */
}

/* Otros colores */
:root {
    --color-enlace: #007bff; /* Azul para enlaces */
    --color-error: #dc3545; /* Rojo para mensajes de error */
    --color-exito: #28a745; /* Verde para mensajes de éxito */
}

/* Hovers */
:root {

    --hover-gris-claro: rgba(80, 80, 80, 0.316);
}


/* Menu colores */
:root{
    --color-barra-lateral:rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

.dark-mode{
    --color-barra-lateral:rgb(44,45,49);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);

    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base :rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(85,85,85);
}
/* Menu Colores FIN */